/*---Колір основного тексту #757575---*/
/*---Колір тексту заголовків #212121---*/
/*---Вторинний колір тексту rgba(255, 255, 255, 0.6)---*/
/*---Black color logo #000000---*/
/*---Accent color #2196F3---*/
/*---Первинний колір фону #FFFFFF---*/
/*---Вторинний колір фону #2F303A---*/
/*---Попелястий колір фону #F5F4FA---*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --ashen-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --cards-border-color: #eeeeee;
  --button-active-color: #188ce8;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*---logo header---*/
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-header {
  color: var(--title-text-color);
}
.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
}
.logo-link {
  color: var(--accent-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.header-container {
  display: flex;
  align-items: center;
}
.logo-nav + .contacts {
  margin-left: 344px;
}

.logo-nav {
  display: flex;
  align-items: center;
}
.logo-header + .site-nav {
  margin-left: 93px;
}

/*---site nav---*/
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*---contacts---*/
.contacts {
  display: flex;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*---hero---*/
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

/*---section---*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-section {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---features---*/
.feature.list {
  display: flex;
  gap: 30px;
}

.feature .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
}
.feature-text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

/*---works---*/
.works-list {
  display: flex;
  gap: 30px;
}

/*---team---*/
.team.list {
  display: flex;
  gap: 30px;
}

.team-section {
  background-color: var(--ashen-background-color);
}

.team .item {
  border-right: 1px solid var(--header-border-color);
  border-bottom: 1px solid var(--header-border-color);
  border-left: 1px solid var(--header-border-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.title-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-color);
}

.team-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
}

/*---buttons---*/
.contacts .button {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.button.primary {
  display: block;
  color: var(--primary-text-color);
  font-size: 14px;
  text-decoration: none;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
}

.button.secondary {
  min-width: 216px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--button-active-color);
}
.pointer {
  cursor: pointer;
}

/*---footer---*/
.address .item:not(:first-child) {
  margin-top: 9px;
}

.address {
  font-style: normal;
}
.address-link {
  font-weight: 400;
  line-height: 1.71;
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.logo-footer {
  margin-bottom: 20px;
  color: var(--white-color);
}
.address .link {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}
.address .address-link {
  color: var(--white-color);
}

/*--------------Portfolio-----------------*/

.portfolio-title {
  color: var(--title-text-color);
}

/*---filter---*/
.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter .button {
  min-width: 73px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--ashen-background-color);
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*---portfolio-list---*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-title-text {
  padding: 20px 24px;
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  border-left: 1px solid var(--cards-border-color);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-subtitle {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
